@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @keyframes marquee {
      0% { transform: translateX(100%); }
      70% { transform: translateX(10%); } /* Stops near buttons */
      100% { transform: translateX(10%); } /* Holds position */
    }
  
    .animate-marquee {
      display: inline-block;
      animation: marquee 5s linear forwards;
    }
  }